* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
header {
    width: 100%;
    height: 210px;

}
.header-box {
    width: 1760px;
    margin: 0 auto;
    color: rgb(100, 101, 102);
}
.header-logo {
    font-size: 20px;
    font-weight: bold;
    float: left;
}
.header-logo img {
    width: 600px;
    margin-left: 50px;
    margin-top: 0;
}
.header-list {
    float: right;
}
.header-list img {
    width: 200px;
    margin-top: 40px;
}
.menyu {
    width: 100%;
}
.menyu-box {
    width: 1760px;
    margin: 0 auto;
    border-top: 3px solid lightslategray;
    border-bottom: 3px solid lightslategray;
    background-color:rgb(185, 156, 156);

}
.menyu-list {
    display: inline-block;
    text-align: center;
    margin-left: 350px;
}
.menyu-list img {
    height: 80px;
}
.btn {
    color: rgb(100, 101, 102);
}
.btn:hover {
    opacity: 0.6;
}
.syasin {
    width: 100%;
    height: 575px;
}
.syasin-box {
    width: 1760px;
    margin: 0 auto;

}
.syasin-nakami {
    position: relative;
    width: 100%;
    height: 575px;
    overflow: hidden;
  }
  
  @keyframes slideshow{
    0%{
      opacity: 0;
    }
    10%{
      opacity: 1;
    }
    28%{
      opacity: 1
    }
    38%{
      opacity: 0;
    }
    100%{
      opacity: 0;
    }
  
  }
  
  .syasin-nakami img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    opacity: 0;
    animation :slideshow 24s linear infinite;
  }
  
  .syasin-nakami img:nth-child(2){
    animation-delay: 8s;
  }
  
  .syasin-nakami img:last-child{
    animation-delay: 16s;
  }
footer {
    width: 100%;
    margin-top: 10px;
 
}
.footer-box {
    width: 1760px;
    margin: 0 auto;
}
.footer-list {
    text-align: center;
}
.footer-list {
    border-top: 2px solid lightslategray;
    padding-top: 20px;
}
